*

# Разрешаем .gitignore и .gitattributes (чтобы сам себя не игнорил)
!.gitignore
!.gitattributes

# Разрешить папки
!Assets/
!Assets/PluginYourGames/
!Assets/PluginYourGames/Example/
!Assets/PluginYourGames/Scripts/
!Assets/PluginYourGames/Platforms/
!Assets/PluginYourGames/Platforms/YandexGames/
!Assets/PluginYourGames/Modules/
!Assets/PluginYourGames/Modules/Authorization/
!Assets/PluginYourGames/Modules/AutoTranslateLangs/
!Assets/PluginYourGames/Modules/BannerAdv/
!Assets/PluginYourGames/Modules/BannerAdv/
!Assets/PluginYourGames/Modules/Clipboard/
!Assets/PluginYourGames/Modules/EnvirData/
!Assets/PluginYourGames/Modules/Flags/
!Assets/PluginYourGames/Modules/Fullscreen/
!Assets/PluginYourGames/Modules/GameLabel/
!Assets/PluginYourGames/Modules/InterstitialAdv/
!Assets/PluginYourGames/Modules/Leaderboards/
!Assets/PluginYourGames/Modules/Localization/
!Assets/PluginYourGames/Modules/Metrica/
!Assets/PluginYourGames/Modules/OpenURL/
!Assets/PluginYourGames/Modules/Payments/
!Assets/PluginYourGames/Modules/PlayerStats/
!Assets/PluginYourGames/Modules/QuitGameEvent/
!Assets/PluginYourGames/Modules/RedefinePlayerPrefs/
!Assets/PluginYourGames/Modules/Review/
!Assets/PluginYourGames/Modules/RewardedAdv/
!Assets/PluginYourGames/Modules/ServerTime/
!Assets/PluginYourGames/Modules/StickyAdv/
!Assets/PluginYourGames/Modules/Storage/
!Assets/PluginYourGames/Modules/TV/
!Assets/WebGLTemplates/
!Assets/WebGLTemplates/YandexGames/


# Разрешить только следующие файлы
!LICENSE
!README.md
!Assets/PluginYourGames/Manual EN PluginYG2.pdf
!Assets/PluginYourGames/Manual RU PluginYG2.pdf
!Assets/PluginYourGames/Third-Party Notices.txt
!Assets/PluginYourGames/Version.txt

# Разрешаем содержимое этих папок
!Assets/PluginYourGames/Example/**
!Assets/PluginYourGames/Scripts/**
!Assets/PluginYourGames/Platforms/YandexGames/**
!Assets/PluginYourGames/Modules/Authorization/**
!Assets/PluginYourGames/Modules/AutoTranslateLangs/**
!Assets/PluginYourGames/Modules/BannerAdv/**
!Assets/PluginYourGames/Modules/BannerAdv/**
!Assets/PluginYourGames/Modules/Clipboard/**
!Assets/PluginYourGames/Modules/EnvirData/**
!Assets/PluginYourGames/Modules/Flags/**
!Assets/PluginYourGames/Modules/Fullscreen/**
!Assets/PluginYourGames/Modules/GameLabel/**
!Assets/PluginYourGames/Modules/InterstitialAdv/**
!Assets/PluginYourGames/Modules/Leaderboards/**
!Assets/PluginYourGames/Modules/Localization/**
!Assets/PluginYourGames/Modules/Metrica/**
!Assets/PluginYourGames/Modules/OpenURL/**
!Assets/PluginYourGames/Modules/Payments/**
!Assets/PluginYourGames/Modules/PlayerStats/**
!Assets/PluginYourGames/Modules/QuitGameEvent/**
!Assets/PluginYourGames/Modules/RedefinePlayerPrefs/**
!Assets/PluginYourGames/Modules/Review/**
!Assets/PluginYourGames/Modules/RewardedAdv/**
!Assets/PluginYourGames/Modules/ServerTime/**
!Assets/PluginYourGames/Modules/StickyAdv/**
!Assets/PluginYourGames/Modules/Storage/**
!Assets/PluginYourGames/Modules/TV/**
!Assets/WebGLTemplates/YandexGames/**

# Запрещаем папки
Assets/PluginYourGames/Example/Resources
Assets/WebGLTemplates/YandexGames/Images

# meta-files
*.meta

# OS
.DS_Store
Thumbs.db
