# Игнорируем всё
*

# Разрешаем .gitignore и .gitattributes (чтобы сам себя не игнорил)
!.gitignore
!.gitattributes

# Разрешаем только нужные вложенные папки
!Assets/
!Assets/YandexGame/
!Assets/WebGLTemplates/

# Разрешаем содержимое этих папок
!Assets/YandexGame/**
!Assets/WebGLTemplates/**

# meta-files
*.meta